<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="Html5Video">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>
    <php>
      <!-- 
        Configure your ffmpeg and qt-faststart binaries here to run 
        conversion tests
        -->
      <env name="ffmpeg.bin" value="/usr/bin/ffmpeg"/>
      <env name="qt-faststart.bin" value="/usr/bin/qt-faststart"/>
    </php>
</phpunit>